<div class="card hover product-item rounded-lg mt-3 border-0 shadow">
  <img src="./assets/images/product/1/header.jpg" class="card-img-top" />
  <div class="card-body text-center">
    <a href="#" class="h5 weight-bold">Cyberpunk 2077</a>
    <p>
      <span class="old-price">1.200.000 VNĐ</span>
      <br />
      <span class="new-price">988.000 VNĐ</span>
    </p>
  </div>
  <div class="card-footer">
    <button class="btn btn-block btn-primary">
      <i class="fas fa-cart-plus"></i> Thêm vào giỏ
    </button>
  </div>
</div>
