<ul class="nav nav-pills nav-justified">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="pill" href="#dang-giam"
      >Đang giảm giá</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="pill" href="#mua-nhieu">Mua nhiều nhất</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="pill" href="#ban-chay">Bán chạy nhất</a>
  </li>
</ul>
<div class="tab-content" id="">
  <div class="tab-pane fade show active" id="dang-giam" role="tabpanel">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <app-card-product></app-card-product>
      </div>
      <div class="col-12">
        <button class="btn btn-primary btn-block mt-3">Xem thêm</button>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="mua-nhieu" role="tabpanel">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <app-card-product></app-card-product>
      </div>
      <div class="col-12">
        <button class="btn btn-primary btn-block mt-3">Xem thêm</button>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="ban-chay" role="tabpanel">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card hover product-item rounded-lg mt-3 border-0 shadow">
          <img
            src="./assets/images/product/3/header.jpg"
            class="card-img-top"
          />
          <div class="card-body text-center">
            <a href="#" class="h5 weight-bold">Need For Speed Heat</a>

            <p>
              <span class="new-price">495.000 VNĐ</span>
              <span class="old-price">650.000 VNĐ</span>
            </p>
          </div>
          <div class="card-footer">
            <button class="btn btn-block btn-primary">
              <i class="fas fa-cart-plus"></i> Thêm vào giỏ
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card hover product-item rounded-lg mt-3 border-0 shadow">
          <img
            src="./assets/images/product/4/header.jpg"
            class="card-img-top"
          />
          <div class="card-body text-center">
            <a href="#" class="h5 weight-bold"
              >Counter-Strike: Global Offensive</a
            >
            <p>
              <span class="new-price">341.000 VNĐ</span>
              <span class="old-price">500.000 VNĐ</span>
            </p>
          </div>
          <div class="card-footer">
            <button class="btn btn-block btn-primary">
              <i class="fas fa-cart-plus"></i> Thêm vào giỏ
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card hover product-item rounded-lg mt-3 border-0 shadow">
          <img
            src="./assets/images/product/1/header.jpg"
            class="card-img-top"
          />
          <div class="card-body text-center">
            <a href="#" class="h5 weight-bold">Cyberpunk 2077</a>
            <p>
              <span class="new-price">988.000 VNĐ</span>
              <span class="old-price">1.200.000 VNĐ</span>
            </p>
          </div>
          <div class="card-footer">
            <button class="btn btn-block btn-primary">
              <i class="fas fa-cart-plus"></i> Thêm vào giỏ
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card hover product-item rounded-lg mt-3 border-0 shadow">
          <img
            src="./assets/images/product/2/header.jpg"
            class="card-img-top"
          />
          <div class="card-body text-center">
            <a href="#" class="h5 weight-bold"
              >Total War: THREE KINGDOMS (CD KEY)</a
            >
            <p>
              <span class="new-price">390.000 VNĐ</span>
              <span class="old-price">878.000 VNĐ</span>
            </p>
          </div>
          <div class="card-footer">
            <button class="btn btn-block btn-primary">
              <i class="fas fa-cart-plus"></i> Thêm vào giỏ
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card hover product-item rounded-lg mt-3 border-0 shadow">
          <img
            src="./assets/images/product/1/header.jpg"
            class="card-img-top"
          />
          <div class="card-body text-center">
            <a href="#" class="h5 weight-bold">Cyberpunk 2077</a>
            <p>
              <span class="new-price">988.000 VNĐ</span>
              <span class="old-price">1.200.000 VNĐ</span>
            </p>
          </div>
          <div class="card-footer">
            <button class="btn btn-block btn-primary">
              <i class="fas fa-cart-plus"></i> Thêm vào giỏ
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card hover product-item rounded-lg mt-3 border-0 shadow">
          <img
            src="./assets/images/product/2/header.jpg"
            class="card-img-top"
          />
          <div class="card-body text-center">
            <a href="#" class="h5 weight-bold"
              >Total War: THREE KINGDOMS (CD KEY)</a
            >
            <p>
              <span class="new-price">390.000 VNĐ</span>
              <span class="old-price">878.000 VNĐ</span>
            </p>
          </div>
          <div class="card-footer">
            <button class="btn btn-block btn-primary">
              <i class="fas fa-cart-plus"></i> Thêm vào giỏ
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card hover product-item rounded-lg mt-3 border-0 shadow">
          <img
            src="./assets/images/product/3/header.jpg"
            class="card-img-top"
          />
          <div class="card-body text-center">
            <a href="#" class="h5 weight-bold">Need For Speed Heat</a>

            <p>
              <span class="new-price">495.000 VNĐ</span>
              <span class="old-price">650.000 VNĐ</span>
            </p>
          </div>
          <div class="card-footer">
            <button class="btn btn-block btn-primary">
              <i class="fas fa-cart-plus"></i> Thêm vào giỏ
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card hover product-item rounded-lg mt-3 border-0 shadow">
          <img
            src="./assets/images/product/4/header.jpg"
            class="card-img-top"
          />
          <div class="card-body text-center">
            <a href="#" class="h5 weight-bold"
              >Counter-Strike: Global Offensive</a
            >
            <p>
              <span class="new-price">341.000 VNĐ</span>
              <span class="old-price">500.000 VNĐ</span>
            </p>
          </div>
          <div class="card-footer">
            <button class="btn btn-block btn-primary">
              <i class="fas fa-cart-plus"></i> Thêm vào giỏ
            </button>
          </div>
        </div>
      </div>
      <div class="col-12">
        <button class="btn btn-primary btn-block mt-3">Xem thêm</button>
      </div>
    </div>
  </div>
</div>
